@charset "UTF-8";

@media screen and (min-width:1200px) {

    section#paralax {
    background-color: black;
    background-image: url(../imagens/carbloco10.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    background-position: center top;
    width: 100vw;
    margin-bottom: 200px;
    transition: .6s;
    
    

}

main p {
    
    font-size: 1.2em;
    
}

main {
    max-width: 1200px;
}

.menu-btn {
    display: none;
}

#menu  {
    display: inline-block;
    
}

#menu ul {
        display: flex; 
        text-align: left;   
        gap: 10px;
        
       
        
    }

    nav {
    background-color:#000000;  
    
    padding: 10px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    transition-duration: 0.5s;
    font-family: var(--fonte-padrao); 
    
    padding-bottom: 20px;
}




    
}