@charset "UTF-8";


:root {
    --cor-terracota: #A6615B;  
    --cor-vinhoescuro:#59201B;  
    --cor-white: #F2F2F2;
    --cor-black: #0D0D0D;
    --cor-grey: #84878C;
    

    
    --fonte-padrao: "Inter", sans-serif;
    --fonte-destaque: "urban", sans-serif;
    
}




@media screen and (min-width: 768px)and (max-width:992px){

    .carousel-item.active {
        width: 400px;
    }

    .carousel-item.active:hover{
        width: 430px;
    }


    main {
        width: 100%;
    }

    section#fale {
        width: 100%;
        margin-left: 30px;
        height: 50%;
        padding-bottom: 3rem;
    }

    section#fale > div#imagem{
        float: left;
        width: 30%;
        height: 100%;

    }

    section#fale > div#formulario {
        float: right;
        width: 67%;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

   .carousel-item.active {
    display: none;
    
    
}


#containerFotos {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
}

.itemFoto {
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    flex: 1 1 160px;
    transition: 0.3s;

}
.itemFoto:hover{
    transform: scale(1.08)
    translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4);

}

#textoPrincipal {


    column-count: 2;
    column-gap: 50px;
    column-rule: 1px solid #84878C;
    text-align: justify;
}

#textoPrincipal::first-letter {
    font-size: 2em;
    font-weight: bold;

}




    main {
        width: 100%;
    }

    /* Flexibox na Discografia*/
#containerDisco {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#itemDiscoBuzinas {
    
    width: 500px;
    height: 670px;
    
}

#itemDiscoBeleza {

    
    width: 500px;
    
}

#conteinerVideos {
    display: flex;
    flex-flow: row wrap;
    
    padding: 20px;


}

.itemVideos {

    
    padding: 20px;
    width: 300px;
    flex: auto;

}

    div#faleconosco {
        width: 100%;
    }

    section#fale {
        width: 100%;
        margin-left: 30px;
        height: 55%;
    }

    section#fale > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#fale > div#formulario {
        float: left;
        width: 47%;
    
    }
}

@media screen and (min-width:1200px) {

    header {   
        
        background-color: var(--cor-black);
        background-image: none;

    
        width: 100vw; 
         
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    
}

header > a > img {
    max-width: 30px;
}

header > a > img:hover{
    max-width: 32px;
    
}

header > h1 {
    font-size: 1.3em;
    letter-spacing:.2em;
}


a:hover {
    
    color: var(--cor-black);    
    transition: .9s;
    font-size: .9em;
    
}

    #paralax {

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--cor-black);
    background-image: url(../imagens/paralaxdesktop.webp);
    background-size: cover;
    background-attachment: fixed;    
    background-position: center top;

    height: 900px;
    background-position: center top;
    width: 100vw;
    margin-bottom: 2px;
    
    
    
    
    

}

div.itemParalax{
    
    
    color:#A6615B; 
    
    
    
    font-family:  var(--fonte-destaque);
    font-size: 3em;
    
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.949);
    
    padding: 40px;
    margin: 0;
    
}


.carousel-item.active {
    display: none;
    
    
}



#containerFotos {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 6px;
}

.itemFoto {
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    flex: 1 1 200px;
    transition: 0.3s;

}
.itemFoto:hover{
    transform: scale(1.08)
    translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4);

}


#textoPrincipal {


    column-count: 2;
    column-gap: 50px;
    column-rule: 1px solid #84878C;
    text-align: justify;
}

#textoPrincipal::first-letter {
    font-size: 2em;
    font-weight: bold;

}





main p {
    
    font-size: .9em;
    
}

main {
    max-width: 1100px;
    border-radius: 50px;
}

main h1 {
    padding-top: 140px;
}

main h2#video {
    padding-top: 140px;
}

.menu-btn {
    display: none;
}



nav#menu ul {
    display: flex;
    justify-content: space-evenly;
    
    
    
    font-size: .92em;
    
    
    
    
        
    
    
}

nav#menu {
position: fixed;  
z-index: 9999;
border-radius: 5px;  

display: flex;
flex-flow: column;
justify-content: center;

height: .9vh;

padding: 10px;    

transition-duration: 0.5s;
font-family: va(--fonte-padrao); 

    
    
}



/* Flexibox na Discografia*/
#containerDisco {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#itemDiscoBuzinas {
    
    width: 500px;
    height: 675px;
    
    
    
}

#itemDiscoBeleza {

    
    width: 500px;
    
}

#conteinerVideos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px;


}

.itemVideos {

    
    padding: 20px;
    
    flex: 1 1 350px;

}





a.fontnav {
    color: #101923;
    font-size: .9em;
    font-weight: lighter;
    letter-spacing: .3em;
}

a.fontnav:hover{
    font-weight: bolder;
    font-size: .91em;
    
    transition: 1s;
}

div#video > iframe{
    width: 20%;
}


a {
    font-size: .9em;
}

div#faleconosco {
    margin: auto;
    width: 100%;
    padding-bottom: 1rem;
}

section#fale {
        width: 100%;
        
        max-height: 350px;
        min-height: 300px;
        padding-bottom: 1rem;
    }

    section#fale > div#imagem{
        float: left;
        width: 30%;
        height: 100%;

    }

    section#fale > div#formulario {
        float: right;
        width: 67%;
        padding-bottom: 1rem;
    }




    
}