/* ===========================
   IMPORTAÇÕES E FONTES
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'aldith';
    src: url(../fontes/aldith.ttf) format('truetype');
    font-weight: normal;
}

/* ===========================
   VARIÁVEIS
=========================== */

:root {
    --cor0: #ff5555;
    --cor1: #595856;
    --cor2: white;
    --cor3: #000000;
    --cor4: #262118;

    --fonte-padrao: "Inter", sans-serif;
    --fonte-destaque: "Bruno Ace", sans-serif;
    --fonte-bloco: 'aldith', sans-serif;
}

/* ===========================
   RESET
=========================== */

* {
    margin: 0;
    padding: 0;
    
    
}

/* ===========================
   BODY
=========================== */

body {
    background-color: var(--cor3);
    font-family: var(--fonte-padrao);
}

/* ===========================
   HEADER
=========================== */

header {
    background-color:#000000;    
    min-height: 1px;
    width: 97vw;
    text-align: center;
    padding: 1px;
    display:flex;
    justify-content: space-between;
    align-items: last baseline;
}

header > a > img {
    display: flexbox;    
    max-width: 40px;
    padding: 1px;
}




header > h1 {
    color: var(--cor0);
    font-family: var(--fonte-bloco);
    margin-bottom: 10px;    
    font-size: 1.3em;
    font-weight: lighter;
    padding: 20px;
    
    
    
}

.img4top {
    max-width: 18px;
    text-align: left;    
    padding: 12px;
    
}

/* ===========================
   MENU
=========================== */

.menu-btn {
    font-size:25px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--cor0);
    padding-right:  30px;     
    margin: 10px;    
    transition: .5s;
    
}

#menu {
    display: none;
    flex-direction: column;
    transition: .5s;
}

#menu.active {
    display: flex;
    transition: .5s;
}

/* ===========================
   SEÇÃO DE CAPA
=========================== */



/* ===========================
   NAV
=========================== */

nav {
    background-color:#ff5555;  
    width: 100vw;
    padding: 20px 1px;
    
    height: 125px;
    text-align: center;
    font-weight: bold;
    transition-duration: 0.5s;
    font-family: var(--fonte-padrao);
    border-radius: 2px;
    
    transition: 0.3s;
    padding-bottom: 75px;
}

nav > ul > li{
    padding: 1px;
    margin-bottom: 5px;
    font-size: 1em;

}



/* ===========================
   LINKS
=========================== */


 

a {
    color: var(--cor2);
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    font-weight: normal;
    transition-duration: 0.5s;
    font-family: var(--fonte-padrao);
    border-radius: 15px;
    text-align: center;
    line-height: 25px;
    font-size: 0.8em;
}

a:hover {
    
    color: var(--cor3);    
    transition: .9s;
    
}

/* ===========================
   CARROSSEL
=========================== */

.carousel {
    position: relative;
    width: 99%;
    overflow: hidden;
}

.carousel-item {
    display: none;
    transition: opacity 1s ease;
    width: 99%;
    
}

.carousel-item.active {
    display: block;
    opacity: 0.1px;
    border: 1px solid var(--cor4);
    width: 300px;    
    margin: auto;
    cursor: pointer;   
    
}

.carousel-item.active:hover {
    width: 320px;
    transition: 1s;

}



.carousel-control {
    color: var(--cor0);
    background-color: var(--cor3);
    margin: 10px auto;
    display: block;
    font-size: 0.6em;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--cor4);
    font-family: var(--fonte-padrao);
}


/* ===========================
   MAIN
=========================== */

main {
    min-width: 320px;
    max-width: 850px;
    margin: auto;
    background-color: var(--cor3);
    padding: 10px;
    box-shadow: 0px 0px 10px var(--cor4);
    margin-bottom: 50px;
    border-radius: 10px;
}

main h1 {
    color: var(--cor2);
    font-family: var(--fonte-padrao);
    font-weight: lighter;
    padding: 2px;
    margin: 20px;
    font-size: 0.8em;
    text-align: left;
    
}

main h2 {
    color: var(--cor0);
    font-family: var(--fonte-padrao);
    font-size: 0.9em;
    font-weight: bold;
    margin: 50px 0;
    text-align: center;
}

main h3 {
    color: var(--cor2);
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
    margin: 20px 0;
}

main p {
    color: var(--cor2);
    margin: 15px;
    text-align: justify;
    text-indent: 15px;
    line-height: 2em;
    font-weight: lighter;
    font-size: .9em;
    font-family: var(--fonte-padrao);
}

main strong {
    color: var(--cor0);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: lighter;
    color: var(--cor2);    
    
    
}

main a:hover {
    text-decoration: none;
    color: var(--cor0);
}

main img.img2 {
    display: block;
    margin: auto;
    width: 300px;
    padding: 2px;
    border: 1px solid var(--cor4);
    box-sizing: border-box;
}

main img.img2:hover{
    border: .1px solid var(--cor0);
    transition: 2s;
    box-sizing: border-box;

}



/* ===========================
   VÍDEO RESPONSIVO
=========================== */

div.video {
    background-color: var(--cor3);
    margin: 0 -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/* ===========================
   ELEMENTOS ESPECIAIS
=========================== */

.p1 {
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 0.8em;
}

.are {
    font-size: 0.8em;
    font-family: var(--fonte-destaque);
}

.so {
    font-family: var(--fonte-destaque);
    background-color: var(--cor0);
    color: var(--cor4);
    width: 300px;
    height: 20px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;    
    margin-bottom: 40px;
    text-align: center;
}

.so:hover {
    background-color: white;
    color: var(--cor4);
    text-decoration: none;
    transition: 1s;
    
    
}

.espetacular {
    margin-top: 150px;
}

.final {
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 0.8em;
}

.nome {
    margin-top: 100px;
}

.img4 {
    max-width: 40px;
    display: flex;
    margin: auto;
    padding: 10px;
    
}

/* ===========================
   FOOTER
=========================== */

footer {
    background-color: var(--cor4);
    color: var(--cor2);
    text-align: center;
    font-size: 0.7em;
    padding: 10px;
    font-family: var(--fonte-bloco);
}

footer > p > a {
    color: var(--cor2);
    font-weight: bolder;
    text-decoration: none;
}

footer > p > a:hover {
    
    color: var(--cor0);
    font-size: 1em;
}
