/* ===========================
   IMPORTAÇÕES E FONTES
=========================== */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'aldith';
    src: url(../fontes/aldith.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'urban';
    src: url(../fontes/Urban\ Shadow\ Sans\ Serif.otf) format('truetype');
    font-weight: normal;
}

/* ===========================
   VARIÁVEIS
=========================== */

:root {
    --cor-red1: #C1121F;  
    --cor-red2: #7A0B0B;  
    --cor-white: #E6EAF0;
    --cor-black: #101923;
    

    
    --fonte-padrao: "Inter", sans-serif;
    --fonte-destaque: "urban", sans-serif;
    
}

/* ===========================
   RESET
=========================== */

* {
    margin: 0;
    padding: 0;
    
    
    
}

html,body {
    /*muito importante, para não deixar barra de rolagem sobrando horizontalmente no body*/
    overflow-x: hidden;
    width: 100%;
}

/* ===========================
   BODY
=========================== */

body {
    background-color: var(--cor-black);
    font-family: var(--fonte-padrao);
    background: url(../imagens/fundobody2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    margin: 0px;
    padding: 0px;

}

/* ===========================
   HEADER
=========================== */

header {
    /*deixar o header fixo*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    background-color:var(--cor-black); 
    background-image: url(../imagens/headerback.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    height: 60px;
    border-bottom: solid 1px var(--cor-red2);

    /*alinhar os itens e centralizar horizontal e vertical*/
    display:flex;    
    justify-content: space-evenly;
    align-items: center;
   
}



header > a > img {
    display: flexbox;    
    max-width: 40px;
    padding: 0px;
    margin: 0px;
}




header > h1 {
    color: var(--cor-red1);
    font-family: var(--fonte-destaque);
    margin-bottom: 1px; 
    padding-left: 10px;   
    font-size: 1.1em;
    font-weight: lighter;
    
  
    
    
    
}

.img4top {
    max-width: 15px;
    text-align: left;    
    padding: 12px;
    
}

/* ===========================
   MENU
=========================== */

.menu-btn {
    font-size:23px;
    padding-right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--cor-red1);      
     
    transition: .5s;
    
}



#menu.active {
    display: flex;
    transition: .5s;
}

/* ===========================
   SEÇÃO DE CAPA
=========================== */



/* ===========================
   NAV
=========================== */

nav#menu {
    display: none;
    flex-direction:column;    
    margin-top:60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow:0 4px 20px rgba(193, 18, 31, 0.25);
    background: linear-gradient(200deg,#c1121e,  #dc2d56);
    width: 100%;
    padding: 20px 1px;
    height: 125px;
    text-align: center;
    font-weight: bolder;
    
    transition-duration: 0.5s;
    font-family: var(--fonte-destaque);
    border-radius: 2px;    
    transition: 0.3s;
    padding-bottom: 85px;

    
    
    
}

nav > ul > li{
    padding: 1px;
    margin-bottom: 6px;
    font-size: .7em;
    font-weight: bolder;
    letter-spacing: .2em;
    text-decoration: none;
    list-style: none;
    color: var(--cor-white);
    

}





/* ===========================
   LINKS
=========================== */


 

a {
    color: var(--cor-white);
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    font-weight: normal;
    transition-duration: 0.5s;
    font-family: var(--fonte-padrao);
    border-radius: 15px;
    text-align: center;
    line-height: 25px;
    font-size: .9em;
}

a:hover {
    
    color: var(--cor-black);    
    transition: .9s;
    font-size: .9em;
    
}

section#paralax > h1 {
    display: none;
}

/* ===========================
   CARROSSEL
=========================== */

.carousel {
    position: relative;
    width: 99%;
    overflow: hidden;
}

.carousel-item {
    display: none;
    transition: opacity 1s ease;
    width: 99%;
    
}

.carousel-item.active {
    display: block;
    opacity: 0.1px;
    border: 1px solid var(--cor4);
    width: 290px;    
    margin: auto;
    cursor: pointer;
    border-radius: 7px;  
    box-shadow: 1px 1px 1px 1px var(--cor-black); 
    
}

.carousel-item.active:hover {
    width: 320px;
    transition: 1s;

}






/* ===========================
   MAIN
=========================== */

main {
    min-width: 250px;
    max-width: 768px;
    margin: auto;
    background: var(--cor-black);
    padding: 5px;
    box-shadow: 0px 0px 1px var(--cor-red2);
    margin-bottom: 30px;
    overflow: hidden;
    
}

main, section {
    margin-top: 60px;
}

main h1 {
    color: var(--cor-red1);
    font-family: var(--fonte-destaque);
    font-weight: lighter;
    padding: 2px;
    margin: 15px;
    font-size: .8em;
    text-align: center;
    letter-spacing: .4em;
    margin-bottom: 50px;
    
    
}

main h1 {
    padding-top: 75px;
}



main h2 {
    color:var(--cor-red1);
    font-family: var(--fonte-destaque);
    font-size: .9em;
    font-weight: lighter;
    margin: 50px 0;
    text-align: center;
    letter-spacing: .3em;
}



main h2#video {

    padding-top: 75px;

}

main h3 {
    color: var(--cor-white);
    font-family: var(--fonte-destaque);
    font-size: .8em;
    font-weight: normal;
    text-align: center;
    margin: 20px 0;
    letter-spacing: .2em;
}

main p {
    color: var(--cor-white);
    margin: 15px;
    text-align: justify;
    text-indent: 15px;
    line-height: 3em;
    font-weight: lighter;
    font-size: .8em;
    font-family: var(--fonte-padrao);
}

main strong {
    color: var(--cor-white);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: lighter;
    color: var(--cor-white);    
    
    
}

main a:hover {
    text-decoration: none;
    color: var(--cor-red1);
    font-size: .9em;
}

main img.img2 {
    display: block;
    margin: auto;
    width: 300px;
    padding: 2px;
    border: 1px solid #F29849);
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 1px #6A6E3B;
    border-radius: 12px;
}

main img.img2:hover{
    border: .1px solid #F29849;
    transition: 2s;
    box-sizing: border-box;
    width: 310px;

}




/* ===========================
   VÍDEO RESPONSIVO
=========================== */

div.video {
    background-color: var(--cor-black);
    margin: 0 -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    box-shadow:1px 1px 1px 1px #ff4b2b82;
}

/* ===========================
   ELEMENTOS ESPECIAIS
=========================== */

.p1 {
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: .8em;
}

.are {
    font-size: .8em;
    font-family: var(--fonte-destaque);
}

/*botoes */
.so {
    font-family: var(--fonte-padrao);
    color: var(--cor-white);
    font-size: .9em;    
    width: 120px;
    height: 20px;
    padding: 10px;
    margin: auto;       
    margin-bottom: 40px;
    text-align: center;
    background: linear-gradient(200deg,#C1121F,  #ff416c);
    border-radius: 30px;
    font-weight: 470;
    transition: transform 0.2s ease;
}

.so:hover {
    background-color: white;
    color: var(--cor-black);
    text-decoration: none;
    transform: scale(1.05);

    
    
}

.espetacular {
    margin-top: 100px;
}

.final {
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: .8em;
    font-weight: normal;
    color: var(--cor-white);
    letter-spacing: .1em;
    
    
}

.nome {
    margin-top: 100px;
}

.img4 {
    max-width: 32px;
    display: flex;
    margin: auto;
    padding: 10px;
    
}



/* FALE CONOSCO*/

div#faleconosco {
    position: relative;
    font-family: var(--fonte-padrao),system-ui,Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--cor-black);
    box-sizing: border-box;
    min-width: 300px;
    max-width: 700px;
    height: 78vh;
    margin-bottom: 75px;
    
    

}

section#fale {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background-color: var(--cor-black);
    width: 275px;
    height: 580px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #7a0b0ba8;
    transition: width 1s, height 1s;
    transition-timing-function: ease;
    
    

}

section#fale > div#imagem {
    display: block;        
    height: 200px;
    background-image: url(../imagens/teste\ paralax.jpg);
    background-position: no-repeat;
    background-size: cover;



}

section#fale > div#formulario {
    display: block;
    padding: 10px;    

    height: 100%;


}



div#formulario > h1 {
    font-size: .9em;
    text-align: center;
    padding: 5px;
    font-family: var(--fonte-destaque);
    color: var(--cor-red1);
    font-weight: lighter;
}

section#fale > div#formulario input{
    padding: 1px;
    font-size: .9em;
    border-radius: 5px;
    font-family: var(--fonte-padrao);
    
}
section#fale > div#formulario textarea{
    font-family: var(--fonte-padrao);
    font-size: .9em;
}

form#form-contato > input[type=submit] {
    display: block;
    margin: auto;
    font-size: 1em;
    width: 50%;
    height: 30px;
    
    color: var(--cor-white);
    border: none;
    margin-bottom: 7px;
    
    cursor: pointer;

    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    border-radius: 30px;
    font-weight: 470;
    transition: transform 0.2s ease;

}

form#form-contato > input[type=submit]:hover{
    background-color: white;
    transition: 1s;
    color: var(--cor-black);
    border: solid 1px #101923;

}



form#form-contato > input {
    width: 100%;
    margin: 2px;

    background: #101923;
    border: 1px solid #333;
    color: #E6EAF0;
    border-radius: 8px;
    padding: 12px;

}

form#form-contato > textarea {
    margin: 2px;
    width: 100%;
    background: #101923;
    border: 1px solid #333;
    color: #E6EAF0;
    border-radius: 8px;
    
}
form#form-contato > input:focus,textarea:focus {
    border-color: #C1121F;
    outline: none;

}

p#status {
    color: #E6EAF0;
    font-family: var(--fonte-padrao);
}


    

/* ===========================
   FOOTER
=========================== */

footer {
    background-color: var(--cor-black);
    color: var(--cor-white);
    text-align: center;
    font-size: 0.7em;
    padding: 10px;
    font-family: var(--fonte-destaque);
    letter-spacing: 1px;
    border-top: 1px solid var(--cor-red1);
}

footer > p > a {
    color:var(--cor-white);
    font-weight: bolder;
    text-decoration: none;
}

footer > p > a:hover {
    
    color: var(--cor-red1);
    font-size: .9em;
}
